rvm:
- 1.9.2
- 1.9.3
- 2.0
- 2.1

before_install:
  - gem update --system
  - gem update bundler

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sudo apt-get -qq -y install fontconfig libxrender1"
  - "wget http://download.gna.org/wkhtmltopdf/0.12/0.12.1/wkhtmltox-0.12.1_linux-precise-amd64.deb"
  - "sudo dpkg -i wkhtmltox-0.12.1_linux-precise-amd64.deb"
